<div class="container">
    <h2>
      Bienvenid@
    </h2>
    <div class="row justify-content-center">
      <div *ngFor="let game of misGames" class="col-md-4 mb-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" [src]="game.img" alt="{{ game.nombre }} Image">
          <div class="card-body">
            <h5 class="card-title">{{ game.nombre }}</h5>
            <p class="card-text">Género: {{ game.genero }}</p>
            <p class="card-text">Requerimientos: {{ game.requerimientos }}</p>
            <!-- Puedes personalizar el enlace según tus necesidades -->
            <a routerLink="['/detalle', game.id]" class="btn btn-primary">Ver detalles</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  