
<div class="create-games-container card col-6">
    <form [formGroup]="formularioGames">
      <label for="gameName" [class.invalid]="isInvalidField('gameName')"> Nombre:
        <input id="gameName" type="text" placeholder="Ingrese el nombre" formControlName="gameName">
        <div *ngIf="isInvalidField('gameName')" class="text-danger">
          El nombre del juego es requerido.
        </div>
      </label>
      <label for="gamePrice" [class.invalid]="isInvalidField('gamePrice')"> Precio:
        <input id="gamePrice" type="number" placeholder="Ingrese el precio" formControlName="gamePrice">
        <div *ngIf="isInvalidField('gamePrice')" class="text-danger">
          Ingrese un precio válido.
        </div>
      </label>
      <label for="gameImg" [class.invalid]="isInvalidField('gameImg')"> Url Imagen:
        <input id="gameImg" type="text" placeholder="Ingrese la url de la imagen" formControlName="gameImg">
        <div *ngIf="isInvalidField('gameImg')" class="text-danger">
          Ingrese una URL de imagen válida.
        </div>
      </label>
      <label for="gameDescription">Ingrese requisitos
        <textarea name="gameDescription" id="gameDescription" cols="30" rows="10" formControlName="gameDescription"></textarea>
        <div *ngIf="isInvalidField('gameDescription')" class="text-danger">
          Ingrese unos requisitos
        </div>
      </label>
      <label for="gameGender" >Seleccione el género:
        <select id="gameGender" formControlName="gameGender" [class.invalid]="isInvalidField('gameGender')">
          <option *ngFor="let genero of generos" [value]="genero">{{ genero }}</option>
          <div *ngIf="isInvalidField('gameGender')" class="text-danger">
            Ingrese un genero
          </div>
        </select>
      </label>
  
      <ng-content select="[boton]"></ng-content>
  
    </form>
  </div>
  